@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #333;
}


@layer utilities {
  .text-red-500-custom {
    @apply text-red-500;
  }
  .text-default {
    @apply text-gray-800;
  }
}